.curve {
    border: px solid rebeccapurple;
    border-radius: 20% 0%;
    background-color: rosybrown;
    width: 300px;
    height: 200px;
    
    
    color: #fff;
}
.curve:hover {
    transform: rotate(-90deg);
    
}

@font-face {
    font-family: strange;
    src: url(SansitaSwashed-VariableFont_wght.ttf);
  }
.koko {color: red;font-family: strange;}
.colum {color:rebeccapurple;
       columns: 100px 3;
    column-gap: 10px;
    column-rule: 4px double #ff00ff}
.im {width: 200px;
      height: 200px;
    transition: width 2s , height 2s ,transform 2s;
    transition-delay: 1s;
    transition-timing-function: ease-in;
}
.im:hover {
    width:  400px;
    height: 400px;
    transform: rotate(360deg);
}
.tig {position: relative;
      transition: all 10s , transform .5s;
      transition-timing-function: ease-in-out;
      position: relative;
      left:0
}
.tig:hover {

transform: rotateY(180deg); 
left :1700;

}

.ti {position: relative;
    animation: all 15s ;
    animation-timing-function: ease;
    animation-name: change;
    position: relative;
    left:0;
    top:0;
    animation-iteration-count: 2;
    animation-direction:alternate reverse;


}

@keyframes change {
    0% {transform:rotateY(180deg);left:0}
    50% {left:1800}
    52%{right: 700}
    100%{right: 50}
    
    
}